<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table{

            border: 1px solid;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid;

        }

        th {
            background: rgb(218,245,255);
        }


    </style>
</head>
<body>
<h4>상품 관리 페이지 입니다.</h4>
<form class="container" action="/product/addition" method="post" enctype="multipart/form-data">
    <!--     enctype="multipart/form-data" 는 파일 업로드 시 반드시 필요한 속성이다.-->
    <table class="table">
        <tr>
            <th>상품 번호</th>
            <td>
                <input type="text" name="product_ID">

            </td>
        </tr>
        <tr>
            <th>상품명</th>
            <td>
                <input type="text" name="product_Name">

            </td>
        </tr>
        <tr>
            <th>가 격</th>
            <td>
                <input type="text" name="product_Price">
            </td>
        </tr>
        <tr>
            <th>카테고리</th>
            <td>
                <select name="product_Category1" onchange="handleOnChange(this)">
                    <option name="product_Category1" selected>1차분류</option>
                    <option name="product_Category1" value="0">혈관</option>
                    <option name="product_Category1" value="2">눈</option>
                    <option name="product_Category1" value="3">두뇌활동</option>
                    <option name="product_Category1" value="4">피로감</option>
                    <option name="product_Category1" value="5">뼈,관절</option>
                    <option name="product_Category1" value="6">면역</option>
                    <option name="product_Category1" value="7">간</option>
                    <option name="product_Category1" value="8">여성</option>
                    <option name="product_Category1" value="9">에너지,운동능력</option>
                </select>

                <select name="product_Category2">
                    <option selected>2차분류</option>
                    <option value="0">혈관</option>
                    <option value="1">소화,장</option>
                    <option value="2">눈</option>
                    <option value="3">두뇌활동</option>
                    <option value="4">피로감</option>
                    <option value="5">뼈,관절</option>
                    <option value="6">면역</option>
                    <option value="7">간</option>
                    <option value="8">여성</option>
                    <option value="9">에너지,운동능력</option>
                </select>

                <select name="product_Category3">
                    <option selected>3차분류</option>
                    <option value="0">혈관</option>
                    <option value="1">소화,장</option>
                    <option value="2">눈</option>
                    <option value="3">두뇌활동</option>
                    <option value="4">피로감</option>
                    <option value="5">뼈,관절</option>
                    <option value="6">면역</option>
                    <option value="7">간</option>
                    <option value="8">여성</option>
                    <option value="9">에너지,운동능력</option>
                </select>
                <select name="product_Category4">
                    <option selected>4차분류</option>
                    <option value="0">혈관</option>
                    <option value="1">소화,장</option>
                    <option value="2">눈</option>
                    <option value="3">두뇌활동</option>
                    <option value="4">피로감</option>
                    <option value="5">뼈,관절</option>
                    <option value="6">면역</option>
                    <option value="7">간</option>
                    <option value="8">여성</option>
                    <option value="9">에너지,운동능력</option>
                </select>
            </td>


        </tr>
        <tr>
            <th>상품 설명</th>
            <td>
                    <textarea name="product_Description">

                    </textarea>
            </td>
        </tr>
        <tr>
            <th>상품 이미지</th>
            <td>
                <input type="file" value="파일 선택" multiple>

            </td>
        </tr>
    </table>


    <button type="submit">저장하기</button>
    <button type="reset">삭제하기</button>

</form>
<script src="/Js/function.js"></script>
</body>
</html>