<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PillSu_CSS/survey.css">
    <title>survey_selection7</title>
</head>

<body>
    <div class="survey">
        <div class="survey_logo">
            <a href="../html/PillSu_main.html">PillSu</a>
        </div>
        <div class="survey_question">
            {{/여기에 질문이 나온다}}부트 || 뷰
        </div>
        <div class="survey_select_area">
            <!-- 선택지가 4개일때는 4개만 보이고 5개이면 5개가 보이게 코드를 짜야 한다. 조건에 따라 hidden 속성을 줘야 할 것 같음. -->
            <div class="survey_question7_stress" id="stress"> 
                <label><input type="checkbox" style="margin-bottom: auto;" id="checkbox_stress"> 스트레스가 매우 많아요 </label>
            </div> <!-- class, id, id 수정 -->


            <div class="survey_question7_allergy" id="allergy">
                <label><input type="checkbox" style="margin-bottom: auto;" id="checkbox_allergy"> 알러지 질환이 있어요 </label>
            </div>


            <div class="survey_question7_infection" id="infection">
                <label><input type="checkbox" style="margin-bottom: auto;" id="checkbox_infection"> 감염성 질환에 자주 걸려요</label>
            </div>


            <div class="survey_question7_immunityInterest" id="immunityInterest">
                <label><input type="checkbox" style="margin-bottom: auto;" id="checkbox_immunityInterest"> 해당사항 없지만 관심있음</label>
            </div>


        </div>
        <div class="survey_pagetrans">
            <span style="width: 100%;">
                <label for="question7_before"> <!-- 라벨숫자 수정 -->
                    < <button style="margin-right: 20%; width: 30%;" id="question7_before"> <!-- id 수정 -->
                        <a>이전</a>
                        </button>
                </label>
                <label for="question7_next"> <!-- 라벨숫자 수정 -->
                    <button style="width: 30%;" id="question7_next"> <!-- id 수정 -->
                        <a>다음</a>
                    </button>
                    >
                </label>
            </span>
        </div>
    </div>
    <button id="score_check_btn">변수 값 확인용</button>
    <script type="text/javascript" src="../PillSu_JS/survey7.js"> // 참조파일 경로 수정

    </script>

</body>

</html>

<!-- 작업완료 -->
