<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PillSu Main</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <!-- 구글 웹 폰트 가져옴 -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
  </style>
</head>

<body>
  <!-- 헤더 부분 -->
  <section id="header">
    <div class="wrapper">
      <div class="title">
        <i id="logo">PillSu</i>
      </div>

      <div class="container">
        <div>
          <!-- 고객센터 -->
          <a href="#" id="li"><img src="imgs/support.png"></a>
          <!-- 장바구니 -->
          <a href="#" id="li2"><img src="imgs/shopping-cart.png"></a>
          <!-- 로그인 버튼-->
          <a href="#"><img src="imgs/enter.png"></a>
        </div>



      </div>
    </div>

  </section>

  <!-- 헤더부분 뒷배경 -->
  <div class="justBg"></div>

  <!-- 홍보 이미지 부분 -->
  <div class="ad_img"></div>

  <!-- 사이트 배경에 맞는 이미지-->
  <div class="body_img">
    <div class="bodyButton">
      <!-- 바디 본문 -->
      <div class="Buttons">
        <!-- 설문조사하기 버튼 -->
        <input id="survey" type="button" value="설문조사하기" style="
          width: 200px;
          height: 80px;
          position: relative;
          " />
        <!-- 스토어 가기 버튼 -->
        <input id="survey" type="button" value="스토어가기" style="
          width: 200px;
          height: 80px;
          position: relative;
          " />
      </div>
      <div class="bodycontent">
        <span class="containText">
          혹시 당신, 지금 당신의 건강이 걱정되지 않나요?<br>
          당신의 건강을 위해 지금 바로 설문조사하기를 눌러보세요.
        </span>

      </div>
    </div>
  </div>





  </div>

  <!-- 푸터 -->



  <!-- 푸터 맨 마지막 문구 -->
  <div class="footer">
    <div class="footerContentBg">
      <div class="footerContent">
        (주)ProjectPillSu | 사업자번호 : 123-45-67890 | 대표 : 김왈왈<br>
        개인정보취급 담당부서 : 고객경험관리팀 | 고객정보 관리책임자 : 김왈왈<br>
        통신판매업신고 : 제 2023-부산부산진구-231030001호<br>
        건강기능식품판매업신고 : 제2023-부산부산진구-231030001호<br>
        부산광역시 부산진구 중앙대로 631 10F (선문빌딩)<br>
        제휴문의 : marketing@pillsu.us

      </div>
    </div>
    Project PillSu | ⓒ All rights reserved.
  </div>
</body>

</html>