<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="../static/css/store.css">

</head>


<body>

    <!-- 헤더 부분 -->
    <section id="header">
        <div class="wrapper">
            <div class="title">
                <i id="logo">PillSu</i>
            </div>

            <div class="container">
                <div>
                    <!-- 고객센터 -->
                    <a href="#" id="li"><img src="imgs/support.png"></a>
                    <!-- 장바구니 -->
                    <a href="#" id="li2"><img src="imgs/shopping-cart.png"></a>
                    <!-- 로그인 버튼-->
                    <a href="#"><img src="imgs/enter.png"></a>
                </div>

                </div>
            </div>

    </section>

    <!-- 헤더부분 뒷배경 -->
    <div class="justBg"></div>




    <!-- AI 추천받기 버튼 -->
    <input type="button" action="#" name="aiRecommand" value="AI추천받기">

    <!-- 후기 페이지 버튼 -->
    <input type="button" action="#" name="review" value="후기">

    <!-- 카테고리 -->
    <h4>카테고리</h4>
    <ul>
        <li><a href="#">혈관</a></li>
        <li><a href="#">소화,장</a></li>
        <li><a href="#">눈</a></li>
        <li><a href="#">두뇌활동</a></li>
        <li><a href="#">피로감</a></li>
        <li><a href="#">뼈,관절</a></li>
        <li><a href="#">면역</a></li>
        <li><a href="#">간</a></li>
        <li><a href="#">여성</a></li>
        <li><a href="#">에너지/운동능력</a></li>
    </ul>

    <!-- 제품  -->
    <h4>제품</h4>
    <ul>
        <!-- 테아닌 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">테아닌 <p>13,000원</p></a></li>

        <!-- 철분 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">철분 <p>13,000원</p></a></li>

        <!-- 비타민B -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">비타민B <p>13,000원</p></a></li>

        <!-- 비타민C -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">비타민C <p>13,000원</p></a></li>

        <!-- 비타민D -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">비타민D <p>13,000원</p></a></li>

        <!-- 코엔자임Q -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">코엔자임Q <p>13,000원</p></a></li>

        <!-- 프로바이오틱스 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">프로바이오틱스 <p>13,000원</p></a></li>

        <!-- 오메가3 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">옥타코사놀 <p>13,000원</p></a></li>

        <!-- 밀크씨슬 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">밀크씨슬 <p>13,000원</p></a></li>

        <!-- 루테인 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">루테인 <p>13,000원</p></a></li>

        <!-- 감마리놀레산 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">감마리놀레산 <p>13,000원</p></a></li>

        <!-- 판토텐산 -->
        <img src="../templates/imgs/medicine.png">
        <li><a href="#">비오틴 <p>13,000원</p></a></li>

    </ul>


</body>

</html>