body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    
    display: flex;
    
}

.survey{
    width: 34%;
    height: 100%;
    text-align: center;
    align-items: center;
    background-color: aqua;
}
.survey_logo{
    width: 100%;
    height: 6vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.survey_question{
    width: 100%;
    height: 7vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.survey_select_area{
    width: 100%;
    height: 80vh;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.survey_pagetrans{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}